h1 {
    background-color: burlywood;
    color: white;
    font-family: "Brush Scipt MT";
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 48px;
}

p,
ul,
ol {
    background-color: rgb(250, 225, 186);
    font-size: large;
    border-top: 5px solid burlywood;
    border-right: 5px solid burlywood;
}

p,
li {
    font-size: 20px;
}

body {
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}

#chef,
#muff {
    height: auto;
    width: 800px;
}

#chef{
    padding: 5px;
    border: 5px solid burlywood;
}

#chicha,
#mnc {
    height: auto;
    width: 1000px;
}

.img-muf,
.img-mac,
.img-chi {
    height: auto;
    width: 500px;
}

#menu{
    padding: 100px;
    padding-left: 500px;
    padding-right: 500px;
    list-style-type: none;
}

.dish{
    font-size: 32px;
    font-weight:bold;
    color: white;
}

.menu-pics {
    background-color:rgb(228, 194, 149);
    padding: 10px;
    margin: 10px;
}